# Node.js related files
node_modules/
npm-debug.log*
yarn-error.log*
.npmrc
.yarnrc
.yarnclean
.DS_Store 

# Logs
*.log

# Build Output
build/
dist/ 

# Temporary Files
*.tmp
*.swp
*.bak
*.swo
*.suo
*.dsw

# Environment variables
.env