.text-move-right{
    margin-left: 300px;
}


.font-robot{
    font-family: sans-serif;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item:hover{ 
    background-color: black;
    color: greenyellow;
}
.dropdown-item{
    background-color: black;
    color: white;
}

.btn-no-bg {
  background-color: transparent !important;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
 


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #e0e0e0;
}
.jumbo {
  padding-top: 100px;
  min-height: 200vh;
}
 
.shrink {
  .navbar {
    color: #fafafa;
    background: #00c6ff;
    background: -webkit-linear-gradient(55deg,#00c6ff 10%,#0072ff 90%);
    background: linear-gradient(35deg,#00c6ff 10%,#0072ff 90%);
  }
}