.text-move-right{
    margin-left: 300px;
}


.font-robot{
    font-family: sans-serif;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item:hover{ 
    background-color: black;
    color: greenyellow;
}
.dropdown-item{
    background-color: black;
    color: white;
}