.c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
  }
  
  .form-box {
    background-color: silver;
    width: 90%;
    max-width: 600px; /* Limit the maximum width for larger screens */
    height: auto;
    padding: 20px;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'],
  textarea,
  select {
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .form-group.horizontal-dropdowns,
  .form-group.horizontal-inputs {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line */
  }
  
  .dropdown-c,
  .input-c {
    flex: 1; /* Grow to take up available space */
    margin-right: 0; /* Reset margin */
    margin-bottom: 10px; /* Add margin between items */
  }
  
  /* Optional: Adjust styles for inputs */
  input,
  select {
    width: calc(50% - 5px); /* Adjust width for smaller screens */
  }
  @media (min-width: 768px) {
    button {
    
      background-color: purple;
      width: auto;
    }
  }
  /* Optional: Adjust button styles for larger screens */
  @media (max-width: 768px) {
    button {
    
      background-color: purple;
      width: auto;
    }
  }
  @media (max-width: 500px) {
    button {
   
      background-color: purple;
      width: 70px;
    }
  }